<button class="visible-xs visible-sm camera-button"><span class="glyphicon glyphicon-camera"></span></button>
<section class="two-thirds-screen banner">
    <div class="background mod-image" style="background-image: url(https://unsplash.it/2600/1000/?random&pic=event-bg)"></div>
    <div class="background mod-overlay"></div>
    <div class="background mod-content container">
        <div class="dead-center">
            <h1 class="giant-heading">Redbull Flugtag</h1>
            <p class="lead">
                Red Bull Flugtag is a day filled with fun, joy and good stuffs.
                Join us in documenting this fantastic day here!
            </p>
            <div class="center">
                <button type="button" class="btn btn-primary btn-lg btn-banner"><span class="glyphicon glyphicon-camera"></span> Upload</button>
            </div>
        </div>
    </div>
</section>
<section class="event-photos container">
    <ul class="event-photo-list row">
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo1)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo2)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo3)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo4)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo5)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo6)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo7)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo8)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo9)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo10)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo1)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo2)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo3)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo4)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo5)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo6)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo7)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo8)"></div>
        </li>
        <li class="event-photo-list-item col-sm-6 col-lg-4">
            <div class="event-photo-list-item-photo" style="background-image: url(https://unsplash.it/400/400/?random&pic=event-photo9)"></div>
        </li>

    </ul>
</section>
