<section class="two-thirds-screen">
    <div class="background mod-image" style="background-image: url(https://unsplash.it/2600/1000/?random&pic=explore-bg)"></div>
    <div class="background mod-overlay"></div>
    <div class="background mod-content container">
        <div class="dead-center">
            <h1 class="giant-heading">Find your event</h1>
            <p class="lead">
                Looking for a happening? Here's a few events that's going on right now near you.
            </p>
            <div class="center">
                <a href="#" class="btn btn-primary btn-lg btn-banner">I've got an event code</a>
            </div>
        </div>
    </div>
</section>
<section class="nearby-events container">
    <ul class="event-list">
        <li class="event-list-item row">
            <a href="/event/1sh8">
                <div class="event-list-image col-sm-4"
                    style="background-image: url(https://unsplash.it/400/400/?random&pic=explore-list-img-1)"></div>
                <div class="col-sm-8">
                    <h2 class="large-heading">Redbull Flugtag</h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit.
                    </p>
                </div>
            </a>
        </li>
        <li class="event-list-item row">
            <a href="/event/1sh8">
                <div class="event-list-image col-sm-4"
                    style="background-image: url(https://unsplash.it/400/400/?random&pic=explore-list-img-2)"></div>
                <div class="col-sm-8">
                    <h2 class="large-heading">Folsom Street Fair</h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit.
                    </p>
                </div>
            </a>
        </li>
        <li class="event-list-item row">
            <a href="/event/1sh8">
                <div class="event-list-image col-sm-4"
                    style="background-image: url(https://unsplash.it/400/400/?random&pic=explore-list-img-3)"></div>
                <div class="col-sm-8">
                    <h2 class="large-heading">Kaskade @ Ruby Skye</h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit.
                    </p>
                </div>
            </a>
        </li>
        <li class="event-list-item row">
            <a href="/event/1sh8">
                <div class="event-list-image col-sm-4"
                    style="background-image: url(https://unsplash.it/400/400/?random&pic=explore-list-img-4)"></div>
                <div class="col-sm-8">
                    <h2 class="large-heading">House party at 16th &amp; Mission</h2>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                        irure dolor in reprehenderit.
                    </p>
                </div>
            </a>
        </li>
    </ul>
</section>
