<section class="full-screen">
    <div class="background mod-image" style="background-image: url(https://unsplash.it/2600/1000/?random&pic=login-bg)"></div>
    <div class="background mod-overlay"></div>
    <div class="background mod-content container mod-narrow">
        <div class="dead-center">
            <div class="box">
                <h2 class="large-heading">Let's get you signed in!</h2>
                <div class="login-alternatives center">
                    <form class="sign-in-form">
                        <div class="form-group">
                            <input type="email" name="email" placeholder="your email" class="form-control sign-in-input"/>
                            <input type="password" name="password" placeholder="and password" class="form-control sign-in-input"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-lg">Sign in</button>
                        </div>
                    </form>
                    <button type="button" class="btn btn-wide btn-facebook btn-lg">
                        <i class="fa fa-facebook"></i> Sign in
                    </button>
                    <button type="button" class="btn btn-wide btn-twitter btn-lg">
                        <i class="fa fa-twitter"></i> Sign in
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
