<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{> title}}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" async>
    <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>
    <div class="site-wrapper">
        <header class="site-header">
            <div class="container site-header-container">
                <h1 class="site-title">
                    <a class="site-home-link" href="/">
                        <img src="/assets/img/logo-white.png" alt="logo" class="site-logo" />
                    </a>
                </h1>
                <a href="/sign-in" class="header-icon">
                    <span class="glyphicon glyphicon-log-in"></span>
                </a>
            </div>
        </header>
        <div class="site-content">
            {{{ body }}}
        </div>
        <footer class="site-footer">
            <div class="container">
                <div class="top-footer row">
                    <div class="col-sm-4">
                        <h3 class="footer-heading">Momentum</h3>
                        <p>
                            Momentum is a collaborative photo service for
                            parties, events and special occasions.
                        </p>
                        <p>
                            We're based in Oslo, Norway, and San Francisco,
                            California.
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="footer-heading">Meta</h3>
                        <ul class="link-list">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Developers</a></li>
                            <li><a href="#">Terms of service</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <img src="/assets/img/logo-white.png" class="footer-logo" />
                    </div>
                </div>
                <div class="bottom-footer">
                    <small>All rights reserved. We use cookies.</small>
                </div>
            </div>
        </footer>
    </div>

    <script src="//code.jquery.com/jquery-2.1.4.min.js" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/assets/scripts.js"></script>
</body>
</html>
